body {
    color: black;
    margin-left: auto;
    margin-right: auto;
    font-family: "Cuprum", "PT sans", Arial, sans-serif;
    font-size: 17px;
    font-weight: normal;
    background-color: #f4f7f9;
}

a {
    text-decoration: none;
    color: white;
}

.visually-hidden {
    visibility: hidden;
    margin: 0px;
}

ul {
    list-style: none;
}

.wrapper {
    width: 940px;
    padding: 0 10px;
    margin: 0 auto;
}

.header {
    background-color: #293449;
    border: none;
    font-size: 17px;
    width: auto;
    height: 42px;
    margin-bottom: 46px;
}

.topmenu {
    display: flex;
    height: 42px;
}

.bookmark, .cart {
    width: 150px;
    line-height: 42px;
    vertical-align: middle;
    text-align: center;
}
.topmenu .active {
    background-color: #ee3643;
   }
.topmenu .order {
    background-color: #63a63e;
    width: 150px;
    line-height: 42px;
    text-align: center;
}

.topmenu .bookmark {
    position: relative;
}

.topmenu .bookmark::before {
    position: absolute;
    content: "";
    width: 14px;
    height: 16px;
    background-image: url("../img/icon-bookmark.svg");
    opacity: 0.3;
    background-repeat: no-repeat;
    top: 13px;
    left: 10px;
}

.topmenu .cart {
    position: relative;
}

.topmenu .cart::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    background-image: url("../img/cart-icon.svg");
    opacity: 30%;
    background-repeat: no-repeat;
    top: 13px;
    left: 10px;
}

.search-form {
    position: relative;
}

.search:hover {
    background-color: #212a3a;
}

.search-form:hover .search-icon {
    opacity: 1;
}

.search:focus {
    background-color: #ffffff;
    color: black;
    font-size: 17px;
}

.search {
    background-color: #293449;
    border: none;
    color: white;
    width: 223px;
    height: 40px;
    text-align: left;
    padding-left: 47px;
    flex-grow: 1;
}

.search-icon {
    position: absolute;
    content: "";
    background-image: url("../img/icon-search.svg");
    border: none;
    outline: none;
    width: 17px;
    height: 17px;
    top: 13px;
    left: 17px;
    background-repeat: no-repeat;
    background-color: transparent;
    font-size: 0;
    opacity: 0.3;
}

.search:focus .search-icon {
    background-image: url("../img/icon-searchred.svg");
}

.search::placeholder {
    color: white;
}

.underheader {
    display: flex;
    height: 70px;
    margin-bottom: 42px;
}

.description {
    font-family: "Cuprum", sans-serif;
    font-size: 16px;
    color: red;
    font-style: italic;
    line-height: 24px;
    width: 270px;
    padding-left: 50px;
    margin-top: 0px;
}

.telephone {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    font-size: 21px;
    color: red;
    border: 2px solid white;
    width: 267px;
    text-align: center;
    line-height: 41px;
}

.telephone::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    width: 19px;
    height: 19px;
    left: 15px;
    top: 10px;
}

.address {
    font-family: "Cuprum", sans-serif;
    color: #32425c;
    font-size: 14px;
    text-align: center;
    width: 270px;
    margin-top: 5px;
}

.entrance {
    margin-left: auto;
}

.enter {
    color: #000000;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    border: 1px solid white;
    background-color: white;
    line-height: 43px;
    font-size: 21px;
    width: 118px;
    padding-left: 42px;
}
.authorized {
    display: block; 
    margin: 0 0 0 auto;
}
.user {
    
    box-sizing: border-box;
    position: relative;
    border: 1px solid white;
    background-color: white;
    line-height: 43px;
    width: 300px;
    margin-bottom: 7px;
   
}
.username {
  color: #000000;  
  font-size: 21px;
  padding-left: 47px;
}
.user::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 18px;
    background-image: url("../img/icon-user.svg");
    left: 11px;
    top: 11px;
}
.exit-login {
    content: "";
    background-image: url("../img/icon-logout.svg");
    background-repeat: no-repeat;
    width: 20px;
    height: 17px;
    margin-left: 33px;
   display: inline-block; 
   vertical-align: middle;
     
}
.my-orders, 
.account {
    text-decoration: underline;
    font-size: 16px;
    color: #32425c;
  
} 
.my-orders {
    position: relative;
    margin-left: 18px;
    margin-right: 33px;
}
.my-orders::after {
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #32425c;
    content: "";
    left: 90px;
    top: 8px;
}
.enter svg {
    position: absolute;
    width: 20px;
    height: 17px;
    top: 12px;
    left: 12px;
}

.registration {
    box-sizing: border-box;
    color: #000000;
    display: inline-block;
    border: 1px solid white;
    background-color: white;
    line-height: 43px;
    font-weight: 400;
    font-size: 21px;
    width: 148px;
    margin-left: 5px;
    margin-right: 0;
    padding-left: 21px;
}

.navigation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #32425c;
    margin-bottom: 0px;
    min-height: 55px;
    font-size: 17px;
    padding: 0 0 0 22px;
    box-shadow: 0px 5px 0px 0px #293449;
    margin-bottom: 60px;
}

.navigation a {
    padding: 17px 31px 22px 30px;
    height: 55px;
}

main {
    background-color: white;
}

.store {
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    padding: 0px;
}

.departments {
    min-height: 521px;
    margin-top: 0px;
    margin-bottom: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px;
    align-items: flex-start;
    align-content: flex-start;
}

.departments h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 12px 0;
    color: #ffffff;
}

.departments-btn {
    display: inline-block;
    text-align: center;
    width: 135px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 0;
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, .1);
}

.departments li:not(:nth-child(4)), .sale, .logist {
    box-sizing: border-box;
    width: 300px;
    height: 124px;
    color: #ffffff;
    padding: 22px;
    margin-bottom: 10px;
}

.departments li:first-child, .logist {
    background-color: #ffbf47;
    position: relative;
}

.departments li:first-child::before {
    content: "";
    position: absolute;
    width: 44px;
    height: 65px;
    background-image: url("../img/icon-1.svg");
    left: 212px;
    top: 30px;
}

.departments li:first-child::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 59px;
    background-image: url("../img/new-flag.png");
    left: 240px;
    top: 0px;
}

.logist::before {
    content: "";
    position: absolute;
    width: 78px;
    height: 63px;
    background-image: url("../img/icon-5.svg");
    left: 191px;
    top: 30px;
}

.departments li:nth-child(2) {
    background-color: #3bbce3;
    position: relative;
}

.departments li:nth-child(2)::before {
    content: "";
    position: absolute;
    width: 75px;
    height: 61px;
    background-image: url("../img/icon-2.svg");
    left: 197px;
    top: 30px;
}

.departments li:nth-child(3) {
    background-color: #dc91d8;
    position: relative;
}

.departments li:nth-child(3)::before {
    content: "";
    position: absolute;
    width: 78px;
    height: 62px;
    background-image: url("../img/icon-3.svg");
    left: 191px;
    top: 30px;
}

.departments li:nth-child(4) {
    margin: 0;
    padding: 0;
}

.departments li:last-child {
    margin: 10px 0 0 0;
    padding: 0;
}

.sale {
    background-color: #8ed78f;
    box-sizing: border-box;
    margin-bottom: 18px;
    position: relative;
}

.sale::before {
    content: "";
    position: absolute;
    width: 59px;
    height: 72px;
    background-image: url("../img/icon-4.svg");
    left: 195px;
    top: 30px;
}

.slider {
    background-color: #613f35;
    width: 621px;
    height: 266px;
    margin-top: 10px;
    position: relative;
    color: white;
}

input[type=radio] {
    display: none;
}

.slider-controls {
    position: absolute;
    width: 100px;
    height: 20px;
    left: 295px;
    top: 215px;
}

.slider-controls label {
    width: 6px;
    height: 6px;
    border: 3px solid white;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    margin: 0 3px;
    ;
    cursor: pointer;
}

.arrow-controls {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 120px;
}

.left {
    width: 30px;
    height: 50px;
    position: relative;
    border: 0;
    background-color: transparent;
    padding: 0;
    padding-left: 20px;
    margin-top: 0px;
}

.right {
    width: 30px;
    height: 50px;
    position: relative;
    border: 0;
    background-color: transparent;
    padding: 0;
    padding-right: 18px;
    margin-top: 0px;
}

.left::before, .left::after {
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    position: absolute;
    content: "";
}

.right::before, .right::after {
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    position: absolute;
    content: "";
}

.left::before {
    transform: rotate(-45deg);
    top: 17px;
}

.left::after {
    transform: rotate(45deg);
    top: 37px;
}

.right::before {
    transform: rotate(45deg);
    top: 17px;
}

.right::after {
    transform: rotate(-45deg);
    top: 37px;
}

#next:checked~.slider-controls label[for=next], #real:checked~.slider-controls label[for=real] {
    background-color: #ee3643;
}

.slide:first-child {
    background-image: url("../img/drill.jpg");
    background-repeat: no-repeat;
    background-position: 100% 100%;
    height: 266px;
}
.slide:nth-child(2) {
    background: #231614;
    background-repeat: no-repeat;
   
}
.slide-text {
    padding-top: 26px;
    padding-left: 22px;
    width: 300px;
    color: #ffffff;
}
.slide-text a {
    width: 195px;
    height: 38px;
    margin-top: 65px;
}

#next:checked~.slides .slide:nth-child(2), #real:checked~.slides .slide:nth-child(1) {
    display: none;
}

.popular {
    background-color: #f9f5f0;
    display: flex;
    justify-content: space-between;
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.popular h2 {
    text-transform: uppercase;
    font-family: "Cuprum", sans-serif;
    font-size: 30px;
    font-weight: 400;
    padding-left: 25px;
    color: #32425c;
}


.red-btn {
    border: 1px solid #ee3643;
    border-radius: 3px;
    background-color: #ee3643;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 14px;
}
.all {
    width: 251px;
    height: 38px;
    margin-right: 24px;
}

.catalog-items {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 940px;
    justify-content: space-between;
    padding: 0px;
}

.catalog-items li {
    width: 220px;
    height: 317px;
    border: 1px solid #f4f7f9;
    padding: 0px;
}

.catalog-items a {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 0px;
    text-align: center;
}

.catalog-items h3 {
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: black;
    margin: 0px;
}

.disqualify {
    color: #adadad;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    margin: 0px;
    line-height: 18px;
}

.catalog-items div {
    border: 1px solid #ee3643;
    border-radius: 3px;
    width: 140px;
    height: 38px;
    background-color: #ee3643;
    display: flex;
    justify-content: center;
    align-items: center;
}

li span {
    color: white;
    font-weight: bold;
}

.catalog-items img {
    padding: 0px;
}

.catalog-items li:last-child h3 {
    padding-bottom: 43px;
}

.catalog-items p {
    margin-top: 12px;
    margin-bottom: 12px;
}

.brands {
    padding: 0px;
    width: 940px;
    height: 330px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 65px;
}

.brands li {
    border: 1px solid #eaeaea;
    width: 220px;
    height: 145px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.services {
    background-color: #f4f7f9;
}



.services h2 {
    padding-top: 65px;
    margin: 0px;
    text-transform: uppercase;
    font-family: "Cuprum", sans-serif;
    font-size: 30px;
    font-weight: 400;
}

.services p {
    margin-top: 25px;
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 70px;
}

.services-slider-control {
    display: block;
     width: 240px;
    height: 125px;
    padding: 0px;
    margin-top: 0px;
}

.services button {
    border: 1px solid transparent;
    width: 240px;
    height: 63px;
    background-color: #32425c;
    font-family: "Cuprum", sans-serif;
    font-weight: bold;
    font-size: 21px;
    color: white;
    text-align: left;
    padding-left: 20px;
}

.services-content .services-slider {
    display: flex;
    justify-content: space-between;
}

.results {
    width: 620px;
    height: 215px;
    position: relative;
}

.results h3 {
    font-size: 34px;
    color: #32425c;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 20px;
}

.results p {
    margin-top: 0px;
    font-weight: 400;
}

.results img {
    top: 17px;
    position: absolute;
    right: 0px;
}

.information {
    height: 537px;
    display: flex;
    justify-content: space-between;
}

.information h2 {
    text-transform: uppercase;
    font-family: "Cuprum", sans-serif;
    font-size: 30px;
    font-weight: 400;
    margin-top: 80px;
    margin-bottom: 0px;
}

.information p {
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.delivery {
    width: 540px;
    height: 375px;
}

.trans-company li {
    position: relative;
    font-family: "PT Sans" sans-serif;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 400;
    padding-left: 36px;
}

.trans-company li::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    left: 0px;
    top: 8px;
    background-color: #ee3643;
}

.trans-company li:last-child {
    margin-bottom: 32px;
}

.delivery a {
    width: 220px;
    height: 38px;
    margin-bottom: 85px;
}

.contacts {
    width: 300px;
    height: 375px;
}

.trans-company {
    padding: 0px;
}

.contacts .help {
    width: 300px;
    height: 38px;
    margin-bottom: 85px;
    margin-top: 40px;
    padding: 0px;
}

footer {
    background-color: #32425c;
    height: 300px;
    color: white;
}

.footer-nav {
    width: 940px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.footer-nav ul {
    display: flex;
    width: 550px;
    height: 60px;
    justify-content: space-between;
    font-size: 18px;
    align-items: flex-end;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}

.footer-catalog {
    width: 940px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 20px;
}

.footer-catalog ul {
    display: flex;
    width: 528px;
    height: 50px;
    justify-content: space-between;
    font-size: 18px;
    align-items: flex-start;
    margin-top: 0px;
    margin-bottom: 0px;
}

.footer-catalog ul li a {
    color: #ffd180;
}

.footer-catalog p {
    margin: 0px;
    font-size: 18px;
    line-height: 24px;
    width: 330px;
}

footer .footer-bottom {
    background-color: #293449;
}

.footer-connect {
    height: 107px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
}

.footer-connect p:first-child {
    width: 240px;
    display: block;
}

.copyright {
    width: 240px;
    margin: 0px;
    margin-right: 150px;
}

.e-mail {
    width: 150px;
}

.site {
    width: 113px;
    margin: 0px;
    margin-left: auto;
}

.e-mail p, .site p {
    margin: 0px;
}

.footer-social {
    display: flex;
    padding: 0px;
    margin: 0px;
    margin-right: 118px;
    margin-left: 150px;
}

.footer-social a {
    display: inline-block;
    width: 42px;
    height: 42px;
    background-color: #212a3a;
    border-radius: 50%;
    position: relative;
}

.btn-vk::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-vk.svg");
    background-repeat: no-repeat;
    width: 26px;
    height: 15px;
    left: 8px;
    top: 13.5px;
}

.btn-fb::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-fb.svg");
    background-repeat: no-repeat;
    width: 12px;
    height: 22px;
    left: 15px;
    top: 10px;
}

.btn-instagram::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-insta.svg");
    background-repeat: no-repeat;
    width: 21px;
    height: 21px;
    left: 10.5px;
    top: 10.5px;
}

.footer-connect a:last-child, .footer-connect a:nth-last-child(2) {
    color: #ffd180;
}