body {
    color: black;
    margin-left: auto;
    margin-right: auto;
    font-family: "Cuprum", "PT sans", Arial, sans-serif;
    font-size: 17px;
    font-weight: normal;
    background-color: #f4f7f9;
    min-width: 960px;
}

a {
    text-decoration: none;
    color: white;
}

.visually-hidden {
    visibility: hidden;
    margin: 0px;
    font-size: 0px;
}

ul {
    list-style: none;
}

.wrapper {
    width: 940px;
    padding: 0 10px;
    margin: 0 auto;
}

.header {
    background-color: #293449;
    border: none;
    font-size: 17px;
    width: auto;
    height: 42px;
    margin-bottom: 47px;
}

.topmenu {
    display: flex;
    height: 42px;
}

.bookmark, .cart {
    width: 150px;
    line-height: 42px;
    vertical-align: middle;
    text-align: left;
    padding-left: 45px;
    position: relative;
    box-sizing: border-box;
}

.cart {
    padding-left: 49px;
}

.topmenu .active {
    background-color: #ee3643;
}

.topmenu .order {
    background-color: #63a63e;
    width: 150px;
    line-height: 42px;
    text-align: center;
}

.topmenu .bookmark::before {
    position: absolute;
    content: "";
    width: 14px;
    height: 16px;
    background-image: url("../img/icon-bookmark.svg");
    opacity: 0.3;
    background-repeat: no-repeat;
    top: 12px;
    left: 18px;
}

.topmenu .cart::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    background-image: url("../img/cart-icon.svg");
    opacity: 30%;
    background-repeat: no-repeat;
    top: 12px;
    left: 19px;
}

.search-form {
    position: relative;
}

.search:hover {
    background-color: #212a3a;
}

.search-form:hover .search-icon {
    opacity: 1;
}

.search:focus {
    background-color: #ffffff;
    color: black;
    font-size: 17px;
}

.search {
    background-color: #293449;
    border: none;
    color: white;
    width: 222px;
    height: 40px;
    text-align: left;
    padding-left: 48px;
}

.search-icon {
    position: absolute;
    content: "";
    background-image: url("../img/icon-search.svg");
    border: none;
    outline: none;
    width: 17px;
    height: 17px;
    top: 12px;
    left: 17px;
    background-repeat: no-repeat;
    background-color: transparent;
    font-size: 0;
    opacity: 0.3;
}

.search:focus .search-icon {
    background-image: url("../img/icon-searchred.svg");
}

.search::placeholder {
    color: white;
}

.underheader {
    display: flex;
    height: 70px;
    margin-bottom: 41px;
}

.description {
    font-family: "Cuprum", sans-serif;
    font-size: 16px;
    color: red;
    font-style: italic;
    line-height: 23px;
    width: 268px;
    padding-left: 53px;
    margin-top: 2px;
}

.telephone {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    font-size: 21px;
    color: red;
    border: 2px solid white;
    width: 269px;
    text-align: center;
    line-height: 40px;
    padding-left: 21px;
}

.telephone::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    width: 19px;
    height: 19px;
    left: 13px;
    top: 10px;
}

.address {
    font-family: "Cuprum", sans-serif;
    color: #32425c;
    font-size: 14px;
    width: 270px;
    margin: 8px;
}

.entrance {
    margin-left: auto;
}

.enter {
    color: #000000;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    background-color: white;
    line-height: 45px;
    font-size: 21px;
    width: 120px;
    padding-left: 47px;
}

.enter::before {
    content: "";
    background-image: url("../img/icon-login.svg");
    background-repeat: no-repeat;
    position: absolute;
    width: 20px;
    height: 17px;
    top: 13px;
    left: 14px;
}

.enter svg {}

.authorized {
    display: block;
    margin: 0 0 0 auto;
}

.user {
    box-sizing: border-box;
    position: relative;
    border: 1px solid white;
    background-color: white;
    line-height: 43px;
    width: 298px;
    margin-bottom: 6px;
}

.username {
    color: #000000;
    font-size: 21px;
    padding-left: 44px;
}

.user::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 18px;
    background-image: url("../img/icon-user.svg");
    left: 11px;
    top: 11px;
}

.exit-login {
    position: absolute;
    content: "";
    background-image: url("../img/icon-logout.svg");
    background-repeat: no-repeat;
    width: 20px;
    height: 17px;
    margin-left: 33px;
    display: inline-block;
    top: 12px;
    left: 233px;
}

.my-orders, .account {
    text-decoration: underline;
    font-size: 16px;
    color: #32425c;
}

.my-orders {
    position: relative;
    margin: 0 28px 0 16px;
}

.my-orders::after {
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #32425c;
    content: "";
    left: 90px;
    top: 8px;
}

.registration {
    box-sizing: border-box;
    color: #000000;
    display: inline-block;
    background-color: white;
    line-height: 45px;
    font-weight: 400;
    font-size: 21px;
    width: 150px;
    margin-left: 6px;
    margin-right: 0;
    padding-left: 24px;
}

.navigation {
    display: flex;
    justify-content: flex-start;
    background-color: #32425c;
    height: 55px;
    font-size: 17px;
    padding: 0 0 0 22px;
    box-shadow: 0px 5px 0px 0px #293449;
    margin-bottom: 65px;
}

.navigation a {
    padding: 20px 31px 22px 30px;
    display: block;
}

main {
    background-color: white;
}

.breadcrumbs {
    padding: 20px 0 20px 0;
}

.breadcrumbs li {
    display: inline-block;
    position: relative;
}

.breadcrumbs a {
    color: black;
    text-transform: uppercase;
    font-size: 13px;
    font-family: "PT Sans", sans-serif;
    margin-left: 36px;
}

.breadcrumbs li:nth-child(n+2)::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-right-small.svg");
    background-repeat: no-repeat;
    width: 8px;
    height: 12px;
    top: 2px;
    left: 10px;
}

a.icon-home {
    position: relative;
    content: "";
    background-image: url("../img/icon-home.svg");
    background-repeat: no-repeat;
    width: 14px;
    height: 12px;
    padding-left: 16px;
    margin-left: 0px;
    top: 2px;
}

.store {
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    padding: 0px;
    height: 483px;
    margin-bottom: 39px;
}

.departments {
    min-height: 521px;
    margin-top: 60px;
    margin-bottom: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px;
    align-items: flex-start;
    align-content: flex-start;
}

.departments h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 12px 0;
    color: #ffffff;
}

.departments .drill-title {
    font-size: 36px;
    margin-bottom: 0;
}

.departments-btn {
    display: inline-block;
    text-align: center;
    width: 133px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    padding: 10px 0;
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, .1);
    margin: 2px 0 0 3px;
}

.departments li:not(:nth-child(4)), .sale, .logist {
    box-sizing: border-box;
    width: 300px;
    height: 123px;
    color: #ffffff;
    padding: 22px;
    margin-bottom: 10px;
}

.departments li:first-child, .logist {
    background-color: #ffbf47;
    position: relative;
}

.departments li:first-child::before {
    content: "";
    position: absolute;
    width: 44px;
    height: 65px;
    background-image: url("../img/icon-1.svg");
    left: 213px;
    top: 31px;
}

.departments li:first-child::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 59px;
    background-image: url("../img/new-flag.png");
    background-repeat: no-repeat;
    left: 240px;
    top: 0px;
}

.logist::before {
    content: "";
    position: absolute;
    width: 78px;
    height: 63px;
    background-image: url("../img/icon-5.svg");
    left: 192px;
    top: 34px;
}

.departments li:nth-child(2) {
    background-color: #3bbce3;
    position: relative;
}

.departments li:nth-child(2)::before {
    content: "";
    position: absolute;
    width: 75px;
    height: 61px;
    background-image: url("../img/icon-2.svg");
    left: 197px;
    top: 33px;
}

.departments li:nth-child(3) {
    background-color: #dc91d8;
    position: relative;
}

.departments li:nth-child(3)::before {
    content: "";
    position: absolute;
    width: 78px;
    height: 62px;
    background-image: url("../img/icon-3.svg");
    left: 191px;
    top: 31px;
}

.departments li:nth-child(4) {
    margin: 0;
    padding: 0;
}

.departments li:last-child {
    margin: 10px 0 0 0;
    padding: 0;
}

.sale {
    background-color: #8ed78f;
    box-sizing: border-box;
    margin-bottom: 18px;
    position: relative;
}

.sale::before {
    content: "";
    position: absolute;
    width: 59px;
    height: 72px;
    background-image: url("../img/icon-4.svg");
    left: 197px;
    top: 26px;
}

.slider {
    margin: 0px;
    padding: 0;
    background-color: #613f35;
    width: 621px;
    height: 266px;
    margin-top: 10px;
    position: relative;
    color: white;
}

input[type=radio], input[type=checkbox] {
    display: none;
}

.slider-controls {
    position: absolute;
    width: 100px;
    height: 20px;
    left: 295px;
    top: 215px;
}

.slider-controls label {
    width: 5px;
    height: 5px;
    border: 3px solid white;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    margin: 0 2px;
    ;
    cursor: pointer;
}

.arrow-controls {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 102px;
}

.left {
    width: 30px;
    height: 50px;
    position: relative;
    border: 0;
    background-color: transparent;
    padding: 0;
    padding-left: 22px;
    margin-top: 0px;
}

.right {
    width: 30px;
    height: 50px;
    position: relative;
    border: 0;
    left: 525px;
    background-color: transparent;
    padding: 0;
    padding-right: 18px;
    margin-top: 0px;
}

.left::before, .left::after {
    width: 27px;
    height: 3px;
    background-color: #ffffff;
    position: absolute;
    content: "";
}

.right::before, .right::after {
    width: 27px;
    height: 3px;
    background-color: #ffffff;
    position: absolute;
    content: "";
}

.left::before {
    transform: rotate(-45deg);
    top: 21px;
}

.left::after {
    transform: rotate(45deg);
    top: 39px;
}

.right::before {
    transform: rotate(45deg);
    top: 21px;
}

.right::after {
    transform: rotate(-45deg);
    top: 39px;
}

#next:checked~.slider-controls label[for=next], #real:checked~.slider-controls label[for=real] {
    background-color: #ee3643;
}

.slide {
    height: 266px;
    width: 100%;
    display: none;
    overflow: hidden;
}

.slide:first-child {
    background-image: url("../img/drill.jpg");
    background-position: 100% 100%;
    background-repeat: no-repeat;
}

.slide:nth-child(2) {
    background: #231614;
    background-repeat: no-repeat;
}

.slide-text {
    padding-top: 22px;
    padding-left: 24px;
    width: 300px;
    color: #ffffff;
}

.slide-text p {
    margin-top: 0;
    font-size: 18px;
}

.slide-text a {
    width: 192px;
    height: 36px;
    margin-top: 123px;
    margin-left: 2px;
}

#next:checked~.slides #slide2, #real:checked~.slides #slide1 {
    display: block;
}

.slides {
    padding: 0;
    margin: 0;
}

.popular {
    background-color: #f9f5f0;
    display: flex;
    justify-content: space-between;
    width: 940px;
    height: 88px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.title-h2 {
    text-transform: uppercase;
    font-family: "Cuprum", sans-serif;
    font-size: 30px;
    font-weight: 400;
    padding-left: 28px;
    color: #32425c;
    padding-top: 2px;
}

.title-h2-catalog {
    padding: 28px;
    margin-top: 0;
    margin-bottom: 17px;
    background-color: #f2f6f8;
}

.filter-catalog {
    display: flex;
}

.filter-control {
    min-width: 220px;
    margin-right: 20px;
}

.sorting {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.sorting-toggle {
    display: flex;
    background-color: #f7f3ec;
    height: 38px;
    border-radius: 3px;
}

.sorting-toggle-link {
    display: flex;
}

.sorting-toggle a {
    color: #acaaa5;
    font-size: 13px;
    text-transform: uppercase;
    font-family: "PT Sans", sans-serif;
    border-bottom: 1px dotted #ee3643;
    margin-left: 69px;
}

.sorting-toggle li {
    display: flex;
    align-items: center;
}

.sorting-toggle .triangle-up {
    position: relative;
    background-image: url("../img/icon-up-dir.svg");
    background-repeat: no-repeat;
    border: none;
    top: 15px;
    height: 10px;
    margin-left: 45px;
    padding-left: 10px;
}

.sorting-toggle .triangle-down {
    position: relative;
    background-image: url("../img/icon-down-dir.svg");
    background-repeat: no-repeat;
    left: 10px;
    top: 15px;
    height: 10px;
    border: none;
    padding-left: 10px;
    margin-left: auto;
    margin-right: 28px;
}

.sorting-toggle .active-link {
    color: #ee3643;
    margin-left: 100px;
    border: none;
}

.sorting-toggle-result {
    display: flex;
    flex-wrap: wrap;
    margin: 0px auto 30px auto;
    justify-content: space-between;
    padding: 0px;
}

.filter-header {
    background-color: #f7f3ec;
    display: flex;
    border-radius: 3px;
    height: 38px;
    margin: 0;
    align-items: center;
}

.filter-catalog h4 {
    font-family: "PT Sans", Arial, sans-serif;
    margin: 12px 0 15px;
    padding-left: 0;
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.producer-filter h4 {
    margin: 16px 0 16px;
}

.power-filter h4 {
    margin: 18px 0 0;
    letter-spacing: 0.5px;
}

.range-filter {
    margin-bottom: 26px;
}

.range-filter-controls {
    width: 180px;
    height: 40px;
    border-radius: 3px;
    background-color: #f7f3ec;
    position: relative;
    padding: 39px 20px 0;
    margin-bottom: 9px;
}

.range-filter-scale {
    height: 2px;
    width: 180px;
    background-color: #d7dcde;
}

.range-filter-bar {
    width: 140px;
    height: 2px;
    background-color: #00ca74;
}

.range-filter-toggle {
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #ababab;
    border: 8px solid #fff;
    box-shadow: 0 2px 0 0 rgba(0, 1, 1, .14);
    top: 30px;
}

.range-filter-min-toggle {
    left: 20px;
}

.range-filter-max-toggle {
    left: 160px;
}

.range-filter-price input {
    font-family: "PT Sans", Arial, sans-serif;
    padding: 10px;
    width: 75px;
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    background-color: #f7f3ec;
    border: none;
    border-radius: 3px;
}

.range-filter-min-price {
    margin-right: 5px;
}

.range-filter-max-price {
    margin-left: 5px;
}

.producer-filter, .power-filter {
    border-top: 1px solid #e5e5e5;
}

.producers, .powers {
    margin-top: 16px;
    padding-left: 35px;
}

.producer-filter li, .power-filter li {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 23px;
}

input[type=checkbox]+label, input[type=radio]+label {
    position: relative;
}

input[type=checkbox]:checked+label::before {
    position: absolute;
    content: "";
    width: 27px;
    height: 23px;
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    left: -35px;
    top: -1px;
}

input[type=checkbox]+label::before {
    position: absolute;
    content: "";
    width: 23px;
    height: 23px;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    left: -35px;
    top: -1px;
}

input[type=radio]:checked+label::before {
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    background-image: url("../img/radio-on.svg");
    background-repeat: no-repeat;
    left: -35px;
    top: -3px;
}

input[type=radio]+label::before {
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    background-image: url("../img/radio-off.svg");
    background-repeat: no-repeat;
    left: -35px;
    top: -3px;
}

.btn-filter {
    font-size: 13px;
    text-transform: uppercase;
    font-family: "PT Sans", Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 38px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    background-color: #fff;
    color: #000;
    margin-top: 80px;
}

.catalog-items h3, .sorting-toggle-result h3 {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin: 4px 0 12px 0;
    padding: 0;
    color: black;
}

.filter-control h3, .sorting-toggle h3 {
    font-size: 13px;
    font-family: "PT Sans", sans-serif;
    color: black;
    text-transform: uppercase;
    font-weight: 400;
    padding-left: 19px;
}

.catalog-items-file {
    padding-top: 0px;
    text-align: center;
    height: 298px;
}

.red-btn {
    border: 1px solid #ee3643;
    border-radius: 2px;
    background-color: #ee3643;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 14px;
}

.all {
    width: 251px;
    height: 36px;
    margin-right: 24px;
}

.catalog-items {
    display: flex;
    margin: 17px auto 20px auto;
    width: 940px;
    justify-content: space-between;
    padding: 0px;
}

.catalog-actions {
    position: absolute;
    top: 0;
    left: 0;
    padding: 45px 0;
    width: 218px;
    background-color: #fff;
}

.catalog-items-file:hover .catalog-actions {
    display: block;
}

.catalog-items-file:hover {
    border: 1px solid #fff;
    box-shadow: 0 10px 25px 0 rgba(41, 52, 73, .5);
}

.catalog-actions {
    display: none;
}

.catalog-item-buy, .catalog-item-bookmark {
    display: block;
    margin: -1px 41px 9px 41px;
    font-size: 14px;
    font-family: "Cuprum", Arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 3px;
    box-sizing: border-box;
    width: 136px;
}

.catalog-item-buy {
    position: relative;
    background-color: #63a63e;
    box-shadow: inset 0 -3px 0 0 #367315;
    padding-top: 11px;
    height: 38px;
}

.catalog-item-buy::before {
    position: absolute;
    content: "";
    background-image: url("../img/cart-icon.svg");
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    top: 11px;
    left: 14px;
    opacity: 0.3;
}

.catalog-item-bookmark {
    color: #32425c;
    background-color: #fff;
    border: 3px solid #63a63e;
    padding-top: 9px;
    height: 38px;
}

.catalog-items li, .sorting-toggle-result li {
    width: 218px;
    height: 317px;
    border: 1px solid #e5e5e5;
    padding: 0px;
    position: relative;
}

.sorting-toggle-result li {
    margin-top: 20px;
}

.new::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 59px;
    background-image: url(../img/new-flag.png);
    background-repeat: no-repeat;
    left: 160px;
    top: 0px;
    z-index: 2;
}

.disqualify {
    font-family: "PT Sans", sans-serif;
    color: #adadad;
    font-weight: bold;
    margin: 0 auto;
    line-height: 18px;
    display: block;
    padding-left: 5px;
}

.actual-price {
    color: white;
    font-family: "PT Sans", sans-serif;
    width: 140px;
    height: 38px;
    background: url("../img/red-button.svg"), no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    margin: 10px auto 21px 43px;
}

.actual-price-last {
    margin-top: 40px;
}

.catalog-items img {
    padding: 0px;
}

.brands {
    padding: 0px;
    width: 940px;
    height: 330px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 65px;
}

.brands li {
    border: 1px solid #eaeaea;
    width: 220px;
    height: 145px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brands li:hover {
    border: 1px solid #fff;
    box-shadow: 0 10px 25px 0 rgba(41, 52, 73, .5);
}

.services {
    background-color: #f4f7f9;
    height: 523px;
}

.services-slider {
    position: relative;
}

.results-slider {
    display: none;
    position: relative;
}

#slide-delivery:checked~.results #slide-1, #slide-warranty:checked~.results #slide-2, #slide-credit:checked~.results #slide-3 {
    display: block;
}

#slide-delivery:checked~.services-slider-control label[for="slide-delivery"], #slide-warranty:checked~.services-slider-control label[for="slide-warranty"], #slide-credit:checked~.services-slider-control label[for="slide-credit"] {
    box-shadow: none;
    background-color: #ffffff;
    color: #32425c;
}

.services h2 {
    padding-top: 63px;
    margin: 0px;
    text-transform: uppercase;
    font-family: "Cuprum", sans-serif;
    font-size: 30px;
    font-weight: 400;
}

.services p {
    margin-top: 22px;
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 67px;
}

.results-slider p {
    margin-bottom: 0;
}

.services-slider-control {
    display: block;
    width: 240px;
    height: 125px;
    padding: 0px;
    margin-top: 5px;
    position: relative;
}

.services-slider-control::after {
    content: "";
    background-image: url("../img/long-shadow.png");
    background-repeat: no-repeat;
    position: absolute;
    width: 10px;
    height: 272px;
    top: -42px;
    left: 230px;
}

.results-slider:nth-child(1)::after {
    position: absolute;
    content: "";
    background-image: url("../img/logistik.png");
    background-repeat: no-repeat;
    width: 468px;
    height: 261px;
    top: 26px;
    left: 151px;
}

.results-slider:nth-child(2)::after {
    position: absolute;
    content: "";
    background-image: url("");
    background-repeat: no-repeat;
    width: 468px;
    height: 261px;
}

.results-slider:nth-child(3)::after {
    position: absolute;
    content: "";
    background-image: url("");
    background-repeat: no-repeat;
    width: 468px;
    height: 261px;
}

.results-slider a {
    width: 195px;
    height: 38px;
    margin-top: 25px;
}

.services-slider-control label {
    font-family: "Cuprum", sans-serif;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    color: white;
    width: 218px;
    display: block;
    box-shadow: inset 0 1px 0 0 #293449;
    padding: 14px 0 17px 22px;
}

.services li {
    width: 240px;
    height: 61px;
    background-color: #32425c;
}

.services-content .services-slider {
    display: flex;
    justify-content: space-between;
}

.results {
    width: 620px;
    height: 215px;
    position: relative;
}

.results h3 {
    font-size: 34px;
    color: #32425c;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 22px;
    letter-spacing: 1.5px;
}

.results p {
    margin-top: 0px;
    font-weight: 400;
    line-height: 24px;
}

.results img {
    top: 17px;
    position: absolute;
    right: 0px;
}

.information {
    height: 536px;
    display: flex;
    justify-content: space-between;
}

.information h2 {
    text-transform: uppercase;
    font-family: "Cuprum", sans-serif;
    font-size: 30px;
    font-weight: 400;
    margin-top: 76px;
    margin-bottom: 0px;
}

.information p {
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 24px;
    margin-bottom: 21px;
    letter-spacing: 0.1px;
}

.delivery {
    width: 540px;
    height: 375px;
}

.trans-company li {
    position: relative;
    font-family: "PT Sans" sans-serif;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 400;
    padding-left: 36px;
}

.trans-company li::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    left: 0px;
    top: 9px;
    background-color: #ee3643;
}

.trans-company li:last-child {
    margin-bottom: 36px;
}

.delivery a {
    width: 218px;
    height: 36px;
    margin-bottom: 85px;
}

.contacts {
    width: 300px;
    height: 375px;
}

.contacts p {
    margin-bottom: 32px;
}

.trans-company {
    padding: 0px;
}

.contacts .help {
    width: 297px;
    height: 36px;
    margin-bottom: 85px;
    margin-top: 35px;
    padding: 0px;
}

.paginator {
    display: flex;
    padding-left: 0px;
    margin-bottom: 60px;
    margin-top: 19px;
}

.paginator a {
    font-family: "PT Sans", Arial, sans-serif;
    border: 1px solid #e5e5e5;
    color: black;
    font-size: 13px;
    text-transform: uppercase;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    margin-right: 10px;
}

.paginator .active {
    color: #ffffff;
    background-color: #ee3643;
}

.paginator .next {
    width: 138px;
    height: 36px;
}

.about-perforator {
    margin: auto;
    padding: 42px 0 69px;
    background-color: #f2f6f8;
}

.about-perforator h2 {
    font-family: "Cuprum", "PT sans", Arial, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 30px;
    letter-spacing: 0.2px;
}

.about-perforator p {
    font-family: "PT sans", Arial, sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 0;
    line-height: 24px;
    letter-spacing: 0.14px;
}

footer {
    background-color: #32425c;
    height: 300px;
    color: white;
}

.footer-nav {
    width: 940px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.footer-nav ul {
    display: flex;
    width: 547px;
    height: 60px;
    justify-content: space-between;
    font-size: 18px;
    align-items: flex-end;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}

.footer-catalog {
    width: 940px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 27px;
}

.footer-catalog ul {
    display: flex;
    width: 524px;
    height: 50px;
    justify-content: space-between;
    font-size: 18px;
    align-items: flex-start;
    margin-top: 3px;
    margin-bottom: 0px;
}

.footer-catalog ul li a {
    color: #ffd180;
}

.footer-catalog p {
    margin: 0px;
    font-size: 18px;
    line-height: 24px;
    width: 330px;
    padding-left: 3px;
}

footer .footer-bottom {
    background-color: #293449;
}

.footer-connect {
    height: 107px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
}

.footer-connect p {
    width: 240px;
    display: block;
    margin: 37px 0 auto 2px;
}

.copyright {
    width: 240px;
    margin: 0px;
    margin-right: 150px;
}

.e-mail {
    width: 150px;
}

.site {
    width: 113px;
    margin: 0px;
    margin-left: auto;
}

.e-mail p, .site p {
    margin-top: 5px;
}

.footer-social {
    display: flex;
    padding: 0px;
    margin: 9px 118px 0 143px;
}

.footer-social a {
    display: inline-block;
    width: 41px;
    height: 41px;
    background-color: #212a3a;
    border-radius: 50%;
    position: relative;
    margin-left: 4px;
}

.btn-vk::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-vk.svg");
    background-repeat: no-repeat;
    width: 26px;
    height: 15px;
    left: 8px;
    top: 13.5px;
}

.btn-fb::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-fb.svg");
    background-repeat: no-repeat;
    width: 12px;
    height: 22px;
    left: 15px;
    top: 10px;
}

.btn-instagram::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-insta.svg");
    background-repeat: no-repeat;
    width: 21px;
    height: 21px;
    left: 10.5px;
    top: 10.5px;
}

.footer-connect a:last-child, .footer-connect a:nth-last-child(2) {
    color: #ffd180;
    padding-left: 1px;
}

.modal-content-map {
    margin-top: -223px;
    height: 446px;
    top: 50%;
    margin-left: -470px;
    width: 940px;
    box-shadow: 0 0 16px rgba(35, 31, 32, .5);
}

.modal-content-close {
    position: absolute;
    top: 10px;
    right: 7px;
    width: 23px;
    height: 23px;
    font-size: 0;
    background-color: transparent;
    border: 0;
    outline: 0;
}

.modal-content-close::after, .modal-content-close::before {
    content: "";
    position: absolute;
    top: 7px;
    right: 0;
    width: 25px;
    height: 5px;
    background-color: #ee3643;
    border-radius: 1px;
}

.modal-content-close::before {
    transform: rotate(45deg);
}

.modal-content-close::after {
    transform: rotate(-45deg);
}

.modal-content-map {
    display: none;
    position: relative;
}

.modal-content-cart {
    margin-left: -310px;
    padding-top: 73px;
    width: 620px;
    color: #000;
    background-color: #fff;
    border-top: 7px solid #ee3643;
    box-shadow: 0 20px 40px rgba(41, 52, 73, .75);
    top: 30%;
}

.modal-content-cart b::before {
    content: "";
    position: absolute;
    top: -25px;
    left: 0;
    width: 66px;
    height: 66px;
    background-image: url("../img/icon-mark.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 50%;
}

.modal-content-cart, .modal-content-map {
    position: fixed;
    left: 50%;
    display: none;
}

.modal-content-cart b {
    position: relative;
    display: block;
    margin: 0 0 55px;
    padding: 0 0 0 98px;
    font-size: 30px;
    font-weight: 400;
}

.modal-content {
    position: fixed;
    display: none;
    margin-left: -310px;
    padding-top: 45px;
    width: 620px;
    color: #000;
    background-color: #fff;
    border-top: 7px solid #ee3643;
    box-shadow: 0 20px 40px rgba(0, 1, 1, .75);
    top: 30%;
    left: 50%;
}

.modal-content-show {
    display: block;
}

.modal-content-close {
    position: absolute;
    width: 23px;
    height: 23px;
    font-size: 0;
    background-color: transparent;
    border: 0;
    top: 10px;
    right: 7px;
}

.modal-content-wrapper {
    position: relative;
    margin: 0 auto;
    padding: 0 80px;
    width: 460px;
}

.modal-content-half:nth-child(1) {
    margin-right: 15px;
}

.modal-content-half {
    display: inline-block;
    width: 220px;
}

.modal-content label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}

.modal-content textarea, .modal-content-half input[type=email], .modal-content-half input[type=text] {
    margin-bottom: 20px;
    padding: 8px 14px 9px;
    width: 189px;
    font-size: 13px;
    line-height: 18px;
    font-family: "PT Sans", "Arial", sans-serif;
    color: #000;
    border: 2px solid #d7dcde;
    border-radius: 3px;
}

.modal-content label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}

.modal-content textarea {
    margin-bottom: 33px;
    width: 428px;
    min-height: 95px;
    color: #999;
}

.modal-bottom {
    padding: 37px 0;
    width: 620px;
    background-color: #f1f1f1;
}

.btn-modal-content {
    padding-bottom: 0px;
    width: 100%;
    height: 36px;
    color: white;
    border: 1px solid #ee3643;
}

.modal-content-cart .modal-content-wrapper {
    display: flex;
}

.order-btn {
    margin-right: 15px;
    width: 220px;
    height: 36px;
}

.continue {
    padding: 10px 0;
    width: 220px;
    font-size: 14px;
    text-transform: uppercase;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}